.address {
  
  margin-bottom: 96px;

  &__label {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    color: #9fadc2;
    margin-bottom: 8px;
    margin-left: 20px;
  }
  &__content {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #3e3e3e;
    margin-bottom: 24px;
    margin-left: 20px;
  }
}
