.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__pictures {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    margin: 0;
    margin-left: 20px;
  }

  .pictures__item {
    flex: 0 1 calc(50% - 10px); 
    min-width: 130px;           
    object-fit: cover;
    display: block;
  }

  &__paragraph {
    width: 100%;
    text-align: left; 
    margin-top: 8px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 20px; 
  }
}