.article {
  &__paragraph {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    margin-bottom: 20px;
    margin-left: auto;   // wycentrowanie
    margin-right: auto;
    max-width: 95%;      // elastyczna szerokość
  }

  &__pictures {
    margin-bottom: 16px;
    margin-left: auto;   // wycentrowanie
    margin-right: auto;
    max-width: 95%;      // elastyczna szerokość
    display: flex;
    flex-wrap: wrap;     // obrazy przechodzą w nowy wiersz na małym ekranie
    gap: 8px;            // odstęp między obrazami
    object-fit: cover;
  }
}

