
@use '../utils/mixins.scss' as *;


.article {
  flex-direction: column;
  align-items: flex-start;

  &__pictures {

    display: flex;
    gap: 20px;

    @include grid();
     
  }
  @include for-tablet() {
    grid-column: span 6;
    
  }
  @include for-desktop() {
    grid-column: span 12;
  }

  .pictures__item {
    flex: 0 1 calc(40% - 10px); 
    width: 100%;
    min-width: 0;           
    object-fit: cover;
    display: block;
    
  }

  &__paragraph {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 16px;
    white-space: normal;
    margin-bottom: 40px;
    
    

    @include for-tablet() {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 64px;
    }

    @include for-desktop() {
      font-size: 24px;
      font-family: Inter;
      font-weight: 700;
      font-style: Bold;
      line-height: 140%;
      letter-spacing: 0px;
    }

&--bold {
  margin-bottom: 16px;
  }

}
}