.button{
  
    border-radius: 40px;
    background-color: #292929;
    color:#FFFFFF;
    display: block;
    text-decoration: none;
    height: 56px;
    line-height: 56px;
    text-align: center;
    width: 280px;
    font-size: 16px;
    font-weight: 700;
}