
@use '../utils/mixins.scss' as *;


.button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 0 48px; 
  border-radius: 40px;
  background-color: #292929;
  color: white;
  text-decoration: none;
  height: 56px;
  width: 100%;           
  max-width: 280px;  
  font-size: 16px;
  font-weight: 700;
  border: 3px solid #292929;
  font-family: Inter, sans-serif;
  &:hover{
    background:white;
    background-color: white;
    color: #292929;
}
  &:active{
    background:white;
    background-color: #111111;
    color:white;
}
    @include for-tablet {
    max-width: 392px;
   
  }
    @include for-desktop {
      max-width: 411px;
  
    }
  

  &--primary {
    border-radius: 40px;
    border: 3px solid #292929;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    background-color: #292929;
    color: white;
    display: block;
    width: 100%;          
    max-width: 280px;
   margin-bottom: 48px;
   margin-top: 32px;

     &:hover{
    background:white;
    background-color: white;
    color: #292929;
}
  &:active{
    background:white;
    background-color: #111111;
    color:white;
}
  }
  
    @include for-desktop {
    max-width: 411px;
    
    
  } 
}

