
@use '../utils/mixins' as *;

.contact {

    @include grid ();

    gap: 24px;
    @include for-tablet() {
        
    }
    @include for-desktop() {
     
    }

 &__form {
    grid-column: span 2;

        @include for-tablet() {
            grid-column: span 3;
            font-size: 16px;
        }

    @include for-desktop(){
        grid-column: 1 /  8;
    }
 }


    &__address {
    grid-column: span 2;

        @include for-tablet() {
            grid-column: span 3;
        }

      @include for-desktop(){
        grid-column: span -4 / -1;
    }
    }
}