
@use '../utils/mixins.scss' as *;

.footer {
  display: block;

  @include for-tablet() {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  @include for-desktop() {
    grid-template-columns: repeat(12, 1fr);
  }

  &__picture {
    width: 100%;
    display: block;

    @include for-tablet() {
      grid-column: 1 / -1;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}