.footer {
  display: flex;
  justify-content: center;  
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;

  &__image {
    width: 100%;          
    max-width: 322px;     
    height: auto;         
    object-fit: cover;
    box-sizing: border-box;
  }
}

