@use '../utils/mixins.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;

  &__input {
    border-radius: 40px;
    background-color: #f8f8fa;
    border: 0;
    width: 100%;           
    max-width: 280px;
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 16px;
    display: block;

      @include for-mobile-large() {
    margin: 16px auto 0;
    min-width: 360px;
    width: 100%;
    
  }

  
    @include for-tablet() {
      max-width: 100%;
     

 
}
      @include for-desktop() {
      max-width: 1024px;
      
    }
 
    

    &::placeholder {
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #7e7e83;
      line-height: 20px;
    }
  }

  &__textarea {
    border-radius: 16px;
    background-color: #f8f8fa;
    border: 0;
    width: 100%;
    max-width: 280px;
    height: 148px;
    line-height: 48px;
    padding-left: 20px;
    padding-top: 14px;
    box-sizing: border-box;
    margin-bottom: 32px;
    display: block;


     @include for-mobile-large() {
   
    justify-content: center;
    margin: 16px  auto 32px;
    max-width: 360px;
    width: 100%;
  }



@include for-tablet() {
    max-width: 411px;
}
     @include for-desktop() {
    
     max-width: 1024px;
    }

    &::placeholder {
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #7e7e83;
      line-height: 20px;
    }
  }

  &__label {
    &:not(:focus, :active) {
      @include visually-hidden;
    }

  }
}

