.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;           
  max-width: 100%;      
  height: auto;          
  aspect-ratio: 320 / 568; 
  padding: 24px 20px 20px 20px; 
  box-sizing: border-box;
}

