.header{
    display: flex;
    background-image: url(../..header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 40px;
    box-sizing: border-box;
}