.main {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  color: #292929;
  text-align: left;
  overflow: hidden;
  margin: 0;
  padding: 0 20px;

  &__paragraph {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: left;
    margin-bottom: 16px;

    &--bold {
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 27px;
      letter-spacing: 0;
      text-align: left;
      margin: 40px auto 96px auto; // wycentrowanie i odstępy
      max-width: 95%;              // elastyczna szerokość
    }
  }
}


