
@use '../utils/mixins.scss' as *;

body {
  font-family: Inter, sans-serif;
}

html {
  
  box-sizing: border-box;
}
.container {
  width: 100%;
  
  padding-inline: 20px;

  @include for-tablet() {
    padding-inline: 72px;
  }

  @include for-desktop() {
   
  }
}

.main {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #292929;
  align-items: start;
  display: grid;
    max-width: 1020px;
  margin: 0 auto;
  
  grid-template-columns: 1fr;
  row-gap: 24px;



  @include for-tablet() {
    grid-template-columns: 1fr 1fr;

   
  }


  @include for-desktop() {
    grid-template-columns: 1fr 1fr;
    
 
  }

  &__title {
    grid-column: 1 / -1; 

    @include for-tablet() {
      grid-column: 1 / 2;
      padding-top: 0;
    
    }

    @include for-desktop() {
      grid-column: 1 / 2;
    }
  }

  &__content {
width: 100%;

    @include for-tablet() {
      grid-column: 2 / 3;
      width: 100%;
    }

    @include for-desktop() {
      grid-column: 2 / 3;
   
    
    }
  }

  &__paragraph {
    font-weight: 700;
    margin-bottom: 16px;
    display: block;

    &--item {
      margin-bottom: 40px;
    }

    &--bold {
      font-weight: 400;
      max-width: 325px;
      margin-bottom: 0;
    }
  }
}