.navigation {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  box-sizing: border-box;
 


  &__logo {
    display: block;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;          
    margin-left: 5px;  
  }

  &__phone,
  &__burger {
    display: block; 
  }
}


