
@use '../utils/mixins.scss' as *;

.pictures {
  @include grid();
}


.pictures__item {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}


.pictures__item--big {
  padding-top: 50%;

  @include for-tablet() {
    grid-column: span 4;
  }

  @include for-desktop() {
    grid-column: span 8;
  }
}


.pictures__item--small {
  padding-top: 100%;

  @include for-tablet() {
    grid-column: span 2;
  }

  @include for-desktop() {
    grid-column: span 4;
  }
}


.pictures__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}