.pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); // elastyczne kolumny
  gap: 16px;
  justify-content: center; 

  &__item {
    width: 100%;
    max-width: 130px;    
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    box-sizing: border-box;
  }
}

