.product {
  padding-left: 0;           
  display: block;
  max-width: 280px;         
  margin: 0 auto;            

  &__photo {
    display: block;
    width: 100%;             
    max-width: 280px;        
    aspect-ratio: 1 / 1;     
    object-fit: cover;
    margin-bottom: 16px;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #292929;
    text-align: left;
    margin-bottom: 8px;
  }

  &__role {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
    color: #292929;
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
    color: #292929;
    margin-bottom: 10px;

    &-product{
     margin-bottom: 96px;
    }
  }
}

