@use '../utils/mixins' as *;


* {
  box-sizing: border-box;

}


.Bose {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}


@include for-tablet() {
  .Bose {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}


@include for-desktop() {
  .Bose {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}


.product {
  padding: 0 20px;
}


.product__photo {
  width: 100%;
  max-width: 280px;
  height: auto;
  display: block;
  margin: 0 auto 16px;
  object-fit: cover;
}


.product__name {
  font-weight: 700;
  margin-bottom: 8px;
  text-align: left;
}

.product__role {
  margin-bottom: 8px;
  text-align: left;
}

.product__price {
  font-weight: 700;
  text-align: left;
}


.product__name {
  font-family: Inter, sans-serif;
  font-style: bold;
  font-weight: 700;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
}

.product__role {
  margin-bottom: 12px;
  width: 100%;
  text-align: left;
}

.product__price {
  font-weight: 700;
  margin-bottom: 40px;
  width: 100%;
  text-align: left;
}