.section {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 64px;

  &__title {
    margin-bottom: 48px;
    display: block;
    width: 90%;          
    max-width: 280px;    
    margin-left: auto;   
    margin-right: auto;
   
  }

  &__article {
    margin-bottom: 40px;
  }

  &__product {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: block;
    width: 90%;           
    max-width: 280px;
    margin: 0 auto 48px;  
    text-align: center;
  }
}

