/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Inter, sans-serif;
}

.title {
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  text-align: left;
  letter-spacing: -1.5px;
  color: #292929;
  display: block;
  margin-bottom: 20px;
  padding-top: 40px;
  position: relative;
  max-width: 95%;
  width: 100%;
}
.title--decorated::before {
  content: "";
  position: absolute;
  top: -30px;
  display: block;
  width: 48px;
  height: 58px;
  background-image: url("../../Sound waves.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.title--secondary {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  color: #292929;
  text-align: left;
  margin-bottom: 32px;
}
.title-section {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  color: #292929;
  margin-bottom: 64px;
  margin-left: 0;
  margin-right: 0;
  max-width: 95%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-image: url(../image-15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 24px 20px 20px 20px;
  box-sizing: border-box;
  grid-template-rows: 1fr 1fr;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
}
@media (min-width: 1020px) {
  .header {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }
}
.header__navigation {
  align-self: start;
  grid-column: 1/3;
  grid-row: 1/2;
}
@media (min-width: 1020px) {
  .header__navigation {
    grid-column: 1/13;
  }
}
.header__title {
  align-self: end;
  grid-column: 1/3;
  grid-row: 2/3;
}
@media (min-width: 1020px) {
  .header__title {
    grid-column: 1/13;
  }
}

body {
  font-family: Inter, sans-serif;
  color: aquamarine;
}

.main {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  color: #292929;
  text-align: left;
  padding: 0 20px;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
}
@media (min-width: 1020px) {
  .main {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }
}
.main__content {
  grid-column: 1/3;
}
@media (min-width: 1020px) {
  .main__content {
    grid-column: 7/13;
  }
}
.main__paragraph {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: left;
  margin-bottom: 16px;
  display: block;
  width: 100%;
}
.main__paragraph--item {
  margin-bottom: 40px;
}
.main__paragraph--bold {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0;
  display: block;
  width: 100%;
}
.main__section {
  grid-column: 1/3;
}
@media (min-width: 1020px) {
  .main__section {
    grid-column: 1/13;
  }
}

.pictures {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
}
@media (min-width: 1020px) {
  .pictures {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }
}
.pictures__item {
  position: relative;
  padding-top: 100%;
  width: 100%;
}
@media (min-width: 1020px) {
  .pictures__item {
    grid-column: span 6;
    padding-top: 256px;
  }
}
@media (min-width: 1020px) {
  .pictures--big {
    grid-column: span 8;
  }
}
@media (min-width: 1020px) {
  .pictures--small {
    grid-column: span 4;
    padding-top: 100%;
  }
}
.pictures__image {
  top: 0;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  margin-left: 20px;
}
.article__pictures {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
}
@media (min-width: 1020px) {
  .article__pictures {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }
}
.article .pictures__item {
  flex: 0 1 calc(40% - 10px);
  min-width: 130px;
  object-fit: cover;
  display: block;
}
.article__paragraph {
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-left: 20px;
}
.article__paragraph--bold {
  margin-bottom: 16px;
}

.button {
  display: block;
  margin: 0 auto 48px;
  border-radius: 40px;
  background-color: #292929;
  color: white;
  text-decoration: none;
  height: 56px;
  line-height: 56px;
  text-align: center;
  width: 100%;
  max-width: 280px;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid #292929;
  font-family: Inter, sans-serif;
}
.button--primary {
  border-radius: 40px;
  padding: 12px 48px;
  border: 3px solid #292929;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  background-color: white;
  color: #292929;
  display: block;
  width: 100%;
  max-width: 280px;
  margin: 20px auto 48px;
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.product__photo {
  width: 280px;
  height: 280px;
  object-fit: cover;
  margin: 0 auto 32px;
}
.product__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  color: #292929;
  padding: 0 20px;
  text-align: left;
  margin-bottom: 8px;
}
.product__role {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: left;
  color: #292929;
  padding: 0 20px;
  margin-bottom: 12px;
}
.product__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: left;
  color: #292929;
  padding: 0 20px;
  margin-bottom: 40px;
}

.address {
  max-width: 320px;
  margin: 0 auto 96px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}
.address__label {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
  display: block;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  color: #9FADC2;
}
.address__content {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  color: #3e3e3e;
  margin-bottom: 24px;
  background-color: chartreuse;
}

.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.form__input {
  border-radius: 16px;
  background-color: #f8f8fa;
  border: 0;
  width: 90%;
  max-width: 280px;
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  box-sizing: border-box;
  margin: 0 auto 16px;
  display: flex;
}
.form__input::placeholder {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #7e7e83;
  line-height: 20px;
}
.form__textarea {
  border-radius: 16px;
  background-color: #f8f8fa;
  border: 0;
  width: 90%;
  max-width: 280px;
  height: 148px;
  line-height: 48px;
  padding-left: 20px;
  padding-top: 14px;
  box-sizing: border-box;
  margin: 0 auto 20px;
  display: block;
}
.form__textarea::placeholder {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #7e7e83;
  line-height: 20px;
}
.form__label:not(:focus, :active) {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  max-height: 320px;
  height: 100%;
  margin: 0 auto;
}
.footer__image {
  margin: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.navigation__logo {
  display: block;
}
.navigation__right {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 5px;
}
.navigation__phone, .navigation__burger {
  display: block;
}

.menu {
  position: fixed;
  inset: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  background-color: #e8eff9;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28px 20px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu:target {
  transform: translateX(0);
}
.menu__links {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 32px;
}
.menu__paragraph {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #292929;
  margin: 0;
}
.menu__call-link {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #292929;
  display: inline-block;
  margin-top: 16px;
  position: relative;
  text-decoration: none;
}
.menu__call-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: black;
}

.links__list {
  padding-top: 60px;
  max-width: 320px;
}
.links__item {
  margin-bottom: 32px;
}
.links__link {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #292929;
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.links__call-link {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #292929;
  display: inline-block;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
}
.section__title {
  grid-column: 1/3;
}
@media (min-width: 1020px) {
  .section__title {
    grid-column: 1/7;
  }
}
.section__article {
  display: block;
  width: 100%;
}
.section__product {
  display: flex;
  flex-direction: column;
}
.section__button {
  display: block;
  width: 100%;
  max-width: 280px;
  margin: 0 auto 96px;
  text-align: center;
}

body {
  background: red !important;
}

/*# sourceMappingURL=main.css.map */
